{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}

{% form_theme form 'TrainingCompanyQueryBundle::layout.script.html.twig' %}

{% block menu %}
    <div class="collapse navbar-collapse" id="icup-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" page="suspend">{% trans %}Pause{% endtrans %}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block maincontent %}
<div class="container" role="main">
    {% if send_name is defined %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <p>Invitation blev sendt til {{ send_name }} med adressen {{ send_email }}</p>
        <p>Ref.: <a href="{{ path('_referred', { 'id': send_token }) }}">{{ send_token }}</a></p>
    </div>
    {% endif %}
    <p>Indtast navn og e-mail adresse på respondenten.</p>
    <p>Der sendes en invitation til kampagnen på e-mail adressen.
       Nye respondenter oprettes desuden i personregisteret.</p>
    <p>Respondenter kendes på e-mail adressen.</p>
    {{ form(form) }}
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function onLoad() {
            
        });
    </script>
{% endblock %}
