{% extends "TrainingCompanyQueryBundle::layout.script.html.twig" %}

{% form_theme form _self %}

{% block instruction "Administration" %}

{% block maincontent %}
<div class="form_header">
    <div class="form_header_inner">
        Inviter respondent til ny kampagne
    </div>
</div>

<div class="form_content">
    <form action="{{ path('_admin') }}" method="POST">
        {% if send_name is defined %}
        <div style="border: 1px solid black; padding: 10px;">
            <p>Invitation blev sendt til {{ send_name }} med adressen {{ send_email }}</p>
            <p>Ref.: {{ send_token }}</p>
        </div>
        {% endif %}
        <p>Indtast navn og e-mail adresse på respondenten.</p>
        <p>Der sendes en invitation til kampagnen på e-mail adressen.
           Nye respondenter oprettes desuden i personregisteret.</p>
        <p>Respondenter kendes på e-mail adressen.</p>
		{{ form_rest(form) }}
        <div class="query_clear"></div>
        
		<div style="float: right;">
	        <input type="submit" name="invite" value="Inviter" class="form_button" />
        </div>
        <div class="query_clear"></div>
    </form>
</div>
{% endblock %}
