{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div>
    {% for child in form %}
    	<div {{ block('widget_container_attributes') }}>
	        {{ form_label(child) }}<br/>
	        {{ form_widget(child) }}
        </div>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}


{% block field_row %}
{% spaceless %}
    <div class="query_row">
        <div class="query_label">
		    {{ form_label(form) }}
        </div>
        <div class="query_widget">
            {{ form_widget(form) }}
            <div class="form_error">
                {{ form_errors(form) }}
            </div>
        </div>
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block title "Training Company" %}
{% block punchline "Din udvikling - vores mission" %}
{% block headline "En bedre hverdag for dig!" %}
{% block instruction "Der er opstået et problem" %}

{% block maincontent %}
    <div class="form_header">
        <div class="form_header_inner">
            Fejlbesked
        </div>
    </div>

    <div class="form_content">
    <form action="{{ path('_start') }}" method="POST">
        <p>{{ error }}</p>
		{{ form_rest(form) }}
		<div style="float: right;">
	        <input type="submit" name="start" value="Start" class="form_button" />
        </div>
        <div class="query_clear"></div>
    </form>
</div>
{% endblock %}
