{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div>
    {% for child in form %}
    	<div {{ block('widget_container_attributes') }}>
	        {{ form_label(child) }}<br/>
	        {{ form_widget(child) }}
        </div>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}


{% block field_row %}
{% spaceless %}
    <div class="query_row">
        <div class="query_label">
		    {{ form_label(form) }}
        </div>
        <div class="query_widget">
            {{ form_widget(form) }}
            <div class="form_error">
                {{ form_errors(form) }}
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block title "Training Company" %}
{% block punchline "Din udvikling - vores mission" %}
{% block headline "En bedre hverdag for dig!" %}
{% block instruction %}
Administration
{% endblock instruction %}

{% block maincontent %}
<div class="form_header">
    <div class="form_header_inner">
        Login
    </div>
</div>

<div class="form_content">
    {% if error %}
        <div class="form_error">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path("_security_check") }}" method="post" id="login">
        <div class="query_row">
            <div class="query_label">
                <label for="username">Brugernavn:</label>
            </div>
            <div class="query_widget">
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="query_row">
            <div class="query_label">
                <label for="password">Kodeord:</label>
            </div>
            <div class="query_widget">
                <input type="password" id="password" name="_password" />
            </div>
            <div style="clear:both"></div>
        </div>
        <input type="submit" class="symfony-button-grey" value="LOGIN" />
    </form>
</div>
{% endblock %}
