{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}

{% block maincontent %}
<div class="container" style="padding-top: 10px; padding-bottom: 10px; width: 300px;">
    <img src="{{ asset( 'bundles/trainingcompanyquery/images/trncmp_logo.jpg' ) }}" alt="logo" class="img-responsive" />
</div>
<!--    
<div style="background-image: url('{{ asset( 'bundles/trainingcompanyquery/images/trncmp_bckg.png' ) }}');
            background-size: cover;
            background-repeat: no-repeat;">
</div>
-->
<div class="container" role="main">
    <div class="jumbotron">
        <h2 style="margin-top: 0; margin-bottom: 0;"><i class="fa fa-arrow-circle-right">&nbsp;</i>{% trans %}Velkommen{% endtrans %}</h2>
        The Training Company undersøgelse
        <span class="hidden-xs"> - </span> 
        <span class="visible-xs-inline"><br /></span> 
        {{ company }}
    </div>
    <p>
        Kære {{ name }}
    </p>
    <p>
        Tak fordi du tager dig tid til at deltage i undersøgelsen.
        <span class="hidden-xs"><br /></span> 
        Tryk på ''Start'' når du er klar til at gå i gang med besvarelsen.
    </p>
    <p>
        Med venlig hilsen<br />
        {{ signer }}
    </p>
    <hr />
    <nav>
        <ul class="pager">
            <li class="next visible-xs-block">
                <a href="{{ path('_survey_xs') }}">Start XS <span aria-hidden="true">&rarr;</span></a>
            </li>
            <li class="next hidden-xs">
                <a href="{{ path('_survey') }}">Start <span aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
