{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}
{% import "TrainingCompanyQueryBundle:Macro:pageheader.html.twig" as formatter %}

{% block maincontent %}
<div class="container" role="main">
    {{ formatter.header('Start undersøgelsen her', 'fa fa-arrow-circle-right', company) }}
    {{ formatter.title(['Kære ', name]|join()) }}
    <p>
        Tak fordi du tager dig tid til at deltage i undersøgelsen '{{ company }}'.
    </p>
    <p>
        På de følgende sider vil du blive stillet et antal spørgsmål, som du bedes svare på.
        Når du har besvaret alle spørgsmål på en side trykker du på knappen 'Videre'.
        Du kan altid vende tilbage til tidligere spørgsmål ved at trykke på knappen 'Tilbage'.
    </p>
    <p>
        Tryk nu på ''Start'' når du er klar til at gå i gang med besvarelsen.
    </p>
    <p>
        Med venlig hilsen<br />
        {{ signer }}
    </p>
    <div class="visible-xs-block">
        {{ formatter.footer(null, { 'path': path('_survey_xs'), 'label': 'Start [mobile]' }) }}
    </div>
    <div class="hidden-xs">
        {{ formatter.footer(null, { 'path': path('_survey'), 'label': 'Start' }) }}
    </div>
    <p></p>
    <p class="small">
        The Training Company anvender cookies til at huske din identitet mens du besvarer undersøgelsen.
        De benyttede cookies fjernes når du lukker din browser og anvendes ikke til andre formål.
    </p>
</div>
{% endblock %}
