{% extends "bootstrap_3_layout.html.twig" %}

{% block choice_widget_expanded -%}
    {% if '-inline' in label_attr.class|default('') %}
        {% set col_attr = "col-xs-1" %}
        {% set col_label_attr = ["col-xs-",(12-form|length)]|join('') %}
        {% if title %}
            <div class="row">
            {% if phonestyle %}
                <div class="{{ col_label_attr }} hidden-xs"></div>
            {% endif %}
            {% for child in form %}
                <div class="{{ col_attr }}">
                    <center><label class="control-label small">{{ child.vars.label }}</label></center>
                </div>
            {% endfor %}
            </div>
            <hr />
        {% endif %}
        {% if phonestyle %}
            <div class="row visible-xs-inline"><label class="control-label">{{ label }}</label></div>
        {% endif %}
            <div class="row control-group">
        {% if phonestyle %}
                <div class="{{ col_label_attr }} hidden-xs"><label class="control-label">{{ label }}</label></div>
        {% endif %}
            {% for child in form %}
                <div class="{{ col_attr }}">
                    <center>
                        {{ form_widget(child, {
                            parent_label_class: label_attr.class|default(''),
                            show_label: show_values,
                        }) }}
                    </center>
                </div>
            {% endfor %}
            </div>
    {% else %}
{#        <div {{ block('widget_container_attributes') }}> #}
            {% for child in form %}
                {{ form_widget(child, {
                    parent_label_class: label_attr.class|default(''),
                }) }}
            {% endfor %}
{#        </div> #}
    {% endif %}
{%- endblock choice_widget_expanded %}

{% block checkbox_radio_label -%}
    {% if required %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if parent_label_class is defined %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ parent_label_class)|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ widget|raw }}
        {% if show_label is not defined or show_label %}
        {{ label|trans({}, translation_domain) }}
        {% endif %}
    </label>
{%- endblock checkbox_radio_label %}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error has-feedback{% endif %}">
    {% set pholder = form.vars.help %}
    {% if not form.vars.phonestyle %}
        {{ form_label(form) }}
    {% else %}
        {% set pholder = form.vars.label %}
    {% endif %}
        {{ form_errors(form) }}
        {% if form.vars.icon is not null %}
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="{{ form.vars.icon }}"></i>
                </span>
                {{ form_widget(form, { 'attr': {'class': 'form-control', 'placeholder': pholder|trans({}, translation_domain)}}) }}
            </div>
        {% else %}
            {{ form_widget(form, { 'attr': {'class': 'form-control', 'placeholder': pholder|trans({}, translation_domain)}}) }}
        {% endif %}
    </div>
{%- endblock form_row %}

{#
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <ul>
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
#}

{# button widgets #}

{% block button_widget -%}
    {% if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {% if icon is not null %}
            <i class="{{ icon }}"></i>
        {% endif %}
        {{ label|trans({}, translation_domain) }}
    </button>
{%- endblock button_widget %}

{% block button_row -%}
    {% if form.vars.buttontype is not null %}
        {{ form_widget(form, { 'attr': {'class': [form.vars.buttontype,'btn-lg']|join(' ') }}) }}
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{%- endblock button_row %}

{% block form_rows -%}
    {% for child in form %}
        {% if child.vars.block_prefixes[0] == 'form' %}
        {{ form_row(child) }}
        {% endif %}
    {% endfor %}
    <div class="btn-group btn-group-lg" role="group">
    {% for child in form %}
        {% if child.vars.block_prefixes[0] == 'button' %}
        {{ form_row(child) }}
        {% endif %}
    {% endfor %}
    </div>
{%- endblock form_rows %}
