{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}

{% form_theme form 'TrainingCompanyQueryBundle::layout.script.html.twig' %}

{% block menu %}
    <li>
        <a href="{{ path('_admin_user_list') }}">{% trans %}Respondenter{% endtrans %}</a>
    </li>
    <li>
        <a href="{{ path('_admin_schema_list') }}">{% trans %}Skemaer{% endtrans %}</a>
    </li>
{% endblock %}

{% block maincontent %}
<div class="container" role="main">
    <div class="row">
        <div class="col-sm-4">
{% if schema is not null %}
            <h2>{{ schema.name }}</h2>
            <div class="list-group">
                <a class="list-group-item" href="{{ path('_admin_invite', { 'schemaid': schema.id }) }}">
                    <h3 class="list-group-item-heading">{% trans %}Inviter respondenter{% endtrans %}</h3>
                    <p class="list-group-item-text">Send invitation til deltagelse i denne undersøgelse.</p>
                </a>
                <br />
                <a class="list-group-item" href="{{ path('_admin_survey_list_byschema', { 'schemaid': schema.id }) }}">
                    <h3 class="list-group-item-heading">{% trans %}Status på besvarelser{% endtrans %}</h3>
                    <p class="list-group-item-text">Vis tilstanden for alle besvarelser til denne undersøgelse.</p>
                </a>
                <br />
                <a class="list-group-item" href="{{ path('_admin_followup', { 'schemaid': schema.id }) }}">
                    <h3 class="list-group-item-heading">{% trans %}Ryk respondenter med uafsluttede undersøgelser{% endtrans %}</h3>
                    <p class="list-group-item-text">Respondenter der ikke har afsluttet sin undersøgelse tilsendes en notifikation på e-mail.</p>
                </a>
                <br />
                <a class="list-group-item" href="{{ path('_admin_response_download_file', { 'schemaid': schema.id }) }}">
                    <h3 class="list-group-item-heading">{% trans %}Hent færdige besvarelser{% endtrans %}</h3>
                    <p class="list-group-item-text">
                        Hent alle de afsluttede besvarelser for denne undersøgelse som en tekst fil.
                        Filen kan importeres i Excel.
                    </p>
                </a>
            </div>
{% else %}            
{% endif %}
        </div>
        <div class="col-sm-4">
{% if schema is not null %}
            <h2>Status for inviterede respondenter</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Status</td>
                        <td>Antal</td>
                    </tr>
                </thead>
                <tbody>
        {% for survey in surveys %}
                    <tr>
                        <td>{{ ['FORM.SURVEY.CHOICE.STATUS.',survey.state]|join()|trans([],'admin') }}</td>
                        <td>{{ survey.cnt }}</td>
                    </tr>
        {% endfor %}
                </tbody>
            </table>
{% endif %}
        </div>
        <div class="col-sm-4">
            <h2>Vælg undersøgelse</h2>
            {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}
