{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}
{% trans_default_domain "admin" %}

{% block maincontent %}
<div class="container" role="main">
    <div class="panel panel-primary">
        <div class="panel-heading"><b>{{ 'FORM.FOLLOWUP.TITLE'|trans|upper }}</b></div>
        <div class="panel-body">
            <p class="lead">{{ 'FORM.FOLLOWUP.CAPTION'|trans({'%SUBJECT%': schema.name}) }}</p>
    {% if not show %}
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <b>{% trans %}FORM.FOLLOWUP.DONE{% endtrans %}</b>
            </div>
    {% endif %}
        </div>
    {% if surveys|length > 0 %}
        <table class="table table-striped">
            <tbody>
        {% for survey in surveys %}
                <tr>
                    <td class="user">
                        <a href="{{ path('_referred', {'id': survey.token }) }}">
                        {{ survey.name|upper }}
                        </a>    
                    </td>
                    <td>{{ ['FORM.SURVEY.CHOICE.STATUS.',survey.state]|join()|trans([],'admin') }}</td>
                    <td>{{ survey.date|date('j-M-Y') }}</td>
                    <td class="narrow-col">
            {% if survey.state > 0 %}
                        <a href="{{ path('_admin_response_list', { 'surveyid': survey.id }) }}">
                            <span class="glyphicon glyphicon-briefcase"></span>
                        </a>
            {% endif %}
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="panel-body">
            <span class="text-uppercase">
                {% trans %}FORM.FOLLOWUP.NOITEMS{% endtrans %}
            </span>
        </div>
    {% endif %}
    </div>
{% if surveys|length > 0 %}
    <a class="btn btn-primary btn-lg" href="{{ path('_admin_send_followup', {'schemaid': schema.id }) }}">
        <span class="fa fa-envelope"></span>&nbsp;{% trans %}FORM.FOLLOWUP.LINK{% endtrans %}
    </a>
{% endif %}
</div>
{% endblock %}