{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}
{% trans_default_domain "admin" %}

{% form_theme form 'TrainingCompanyQueryBundle::layout.script.html.twig' %}

{% block menu %}
    <li>
        <a href="{{ path('_admin_user_list') }}">{% trans %}Respondenter{% endtrans %}</a>
    </li>
    <li>
        <a href="{{ path('_admin_schema_list') }}">{% trans %}Skemaer{% endtrans %}</a>
    </li>
{% endblock %}

{% block maincontent %}
<div class="container" role="main">
    {% if send_name is defined %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <p>Invitation blev sendt til {{ send_name }} med adressen {{ send_email }}</p>
        <p>Ref.: <a href="{{ path('_referred', { 'id': send_token }) }}">{{ send_token }}</a></p>
    </div>
    {% endif %}
    <div class="panel panel-success">
        <div class="panel-heading"><b>{{ 'FORM.INVITE.TITLE'|trans|upper }}</b></div>
        <div class="panel-body lead">
            {{ 'FORM.INVITE.CAPTION'|trans({'%SUBJECT%': schema.name}) }}
        </div>
        <div class="panel-body">
            <p>
                Der sendes en invitation til kampagnen på e-mail adressen.
                Nye respondenter oprettes desuden i personregisteret.
            </p>
            <p>
                Respondenter kendes på e-mail adressen.
            </p>
            {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function onLoad() {
            
        });
    </script>
{% endblock %}
