{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}
{% trans_default_domain "admin" %}

{% block maincontent %}
<div class="container" role="main">
    <div class="panel panel-success">
        <div class="panel-heading"><b>{{ 'LIST.RESPONSES.TITLE'|trans|upper }}</b></div>
        <div class="panel-body lead">
            {{ 'LIST.RESPONSES.CAPTION'|trans({'%SUBJECT%': subject}) }}
        </div>
        <table class="table table-striped">
            <tbody>
    {% if responses|length > 0 %}
        {% for pageno,page in responses %}
                <tr>
                    <td colspan="3">
                        Side {{ pageno }}
                    </td>
                </tr>
            {% for response in page %}
                <tr>
                    <td>&nbsp;</td>
                    <td class="user">
                        {{ response.qno }}. {{ response.label|raw }}
                    </td>
                    <td>
{% if response.answer is defined %}                        
    {% if response.value is not null %}
                        {{ response.value }} ({{ response.answer }})
    {% else %}
                        {{ response.answer }}
    {% endif %}
{% else %}
                        {{ response.comment }}
{% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    {% else %}
                <tr>
                    <td class="user">
                        {{'LIST.RESPONSES.NOITEMS'|trans|upper}}
                    </td>
                    <td></td>
                </tr>
    {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}