{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}
{% trans_default_domain "admin" %}

{% block maincontent %}
<div class="container" role="main">
    <div class="panel panel-success">
        <div class="panel-heading"><b>{{ 'LIST.SURVEYS.TITLE'|trans|upper }}</b></div>
        <div class="panel-body lead">
            {{ 'LIST.SURVEYS.CAPTION'|trans({'%SUBJECT%': subject}) }}
        </div>
        <table class="table table-striped">
            <tbody>
    {% if surveys|length > 0 %}
        {% for survey in surveys %}
                <tr>
                    <td class="user">
                        <a href="{{ path('_referred', {'id': survey.token }) }}">
                        {{ survey.name|upper }}
                        </a>    
                    </td>
                    <td>{{ ['FORM.SURVEY.CHOICE.STATUS.',survey.state]|join()|trans([],'admin') }}</td>
                    <td>{{ survey.date|date('j-M-Y') }}</td>
                    <td class="narrow-col">
                        <a href="{{ path('_admin_survey_chg', { 'id': survey.id }) }}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>    
                    </td>
                    <td class="narrow-col">
                        <a href="{{ path('_admin_survey_del', { 'id': survey.id }) }}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>    
                    </td>
                    <td class="narrow-col">
                        <a href="{{ path('_admin_response_list', { 'surveyid': survey.id }) }}">
                            <span class="glyphicon glyphicon-briefcase"></span>
                        </a>    
                    </td>
                </tr>
        {% endfor %}
    {% else %}
                <tr>
                    <td class="user" colspan="6">
                        {{'LIST.SURVEYS.NOITEMS'|trans|upper}}
                    </td>
                </tr>
    {% endif %}
            </tbody>
        </table>
    </div>
{% if schema is defined %}
    <a class="btn btn-primary btn-lg" href="{{ path('_admin_invite', { 'schemaid': schema.id }) }}">
        <span class="fa fa-envelope"></span>&nbsp;{% trans %}Inviter respondenter{% endtrans %}
    </a>
{% endif %}
</div>
{% endblock %}