{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}
{% trans_default_domain "admin" %}

{% block menu %}
    <li>
        <a href="{{ path('_admin_user_list') }}">{% trans %}MENU.ADMIN.USERS{% endtrans %}</a>
    </li>
    <li>
        <a href="{{ path('_admin_schema_list') }}">{% trans %}MENU.ADMIN.SCHEMAS{% endtrans %}</a>
    </li>
{% endblock %}

{% block maincontent %}
<div class="container" role="main">
    <div class="panel panel-primary">
        <div class="panel-heading"><b>{{ 'LIST.SCHEMAS.TITLE'|trans|upper }}</b></div>
        <div class="panel-body lead">
            {% trans %}LIST.SCHEMAS.CAPTION{% endtrans %}
        </div>
    {% if schemas|length > 0 %}
        <table class="table table-striped">
            <tbody>
        {% for schema in schemas %}
                <tr>
                    <td class="user">
            {% if not is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('_referred', {'id': 'XXX' }) }}">
                        {{ schema.name|upper }}
                        </a>    
            {% else %}
                        {{ schema.name|upper }}
            {% endif %}
                    </td>
                    <td>{{ schema.tag }}</td>
                    <td>{{ schema.email }}</td>
                    <td>{{ schema.signer }}</td>
                    <td>{{ schema.sender }}</td>
                    <td class="narrow-col">
                        <a href="{{ path('_admin_schema_chg', { 'id': schema.id }) }}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>    
                    </td>
                    <td class="narrow-col">
                        <a href="{{ path('_admin_schema_del', { 'id': schema.id }) }}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>    
                    </td>
                    <td class="narrow-col">
                        <a href="{{ path('_admin_survey_list_byschema', { 'schemaid': schema.id }) }}">
                            <span class="glyphicon glyphicon-briefcase"></span>
                        </a>    
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="panel-body">
            <span class="text-uppercase">
                {% trans %}LIST.SCHEMAS.NOITEMS{% endtrans %}
            </span>
        </div>
    {% endif %}
    </div>
    <a class="btn btn-primary btn-lg" href="{{ path('_admin_schema_add') }}">
        <span class="fa fa-file"></span>&nbsp;{% trans %}LIST.SCHEMAS.NEW{% endtrans %}
    </a>
</div>
{% endblock %}