{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}
{% trans_default_domain "admin" %}

{% block maincontent %}
<div class="container" role="main">
    <div class="panel panel-success">
        <div class="panel-heading"><b>{{ 'LIST.USERS.TITLE'|trans|upper }}</b></div>
        <div class="panel-body lead">
            {% trans %}LIST.USERS.CAPTION{% endtrans %}
        </div>
        <table class="table table-striped">
            <tbody>
    {% if users|length > 0 %}
        {% for user in users %}
                <tr>
                    <td class="user">
            {% if not is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('_referred', {'id': 'XXX' }) }}">
                        {{ user.name|upper }}
                        </a>    
            {% else %}
                        {{ user.name|upper }}
            {% endif %}
                    </td>
                    <td>{{ user.email }}</td>
                    <td class="narrow-col">
                        <a href="{{ path('_admin_user_add') }}">
                            <span class="glyphicon glyphicon-file"></span>
                        </a>    
                    </td>
                    <td class="narrow-col">
                        <a href="{{ path('_admin_user_chg', { 'userid': user.id }) }}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>    
                    </td>
                    <td class="narrow-col">
                        <a href="{{ path('_admin_user_del', { 'userid': user.id }) }}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>    
                    </td>
                    <td class="narrow-col">
                        <a href="{{ path('_admin_survey_list_byuser', { 'userid': user.id }) }}">
                            <span class="glyphicon glyphicon-briefcase"></span>
                        </a>    
                    </td>
                </tr>
        {% endfor %}
    {% else %}
                <tr>
                    <td class="user">
                        <a href="{{ path('_admin_user_add') }}">
                        {{'LIST.USERS.NOITEMS'|trans|upper}}
                        </a>    
                    </td>
                    <td></td>
                    <td class="narrow-col">
                        <a href="{{ path('_admin_user_add') }}">
                            <span class="glyphicon glyphicon-file"></span>
                        </a>    
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
    {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}