{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}
{% trans_default_domain "admin" %}

{% block maincontent %}
<div class="container" role="main">
    <div class="panel panel-success">
        <div class="panel-heading"><b>{{ 'LIST.TEMPLATES.TITLE'|trans|upper }}</b></div>
        <div class="panel-body lead">
            {% trans %}LIST.TEMPLATES.CAPTION{% endtrans %}
        </div>
        <table class="table table-striped">
            <tbody>
    {% if templates|length > 0 %}
        {% for template in templates %}
                <tr>
                    <td class="user">
            {% if not is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('_referred', {'id': 'XXX' }) }}">
                        {{ template.name|upper }}
                        </a>    
            {% else %}
                        {{ template.name|upper }}
            {% endif %}
                    </td>
                    <td>{{ template.email }}</td>
                    <td>{{ template.signer }}</td>
                    <td>{{ template.sender }}</td>
                    <td class="narrow-col">
                        <a href="{{ path('_admin_template_add') }}">
                            <span class="glyphicon glyphicon-file"></span>
                        </a>    
                    </td>
                    <td class="narrow-col">
                        <a href="{{ path('_admin_template_chg', { 'id': template.id }) }}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>    
                    </td>
                    <td class="narrow-col">
                        <a href="{{ path('_admin_template_del', { 'id': template.id }) }}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>    
                    </td>
                    <td class="narrow-col">
                        <a href="{{ path('_admin_survey_list_byschema', { 'schemaid': template.id }) }}">
                            <span class="glyphicon glyphicon-briefcase"></span>
                        </a>    
                    </td>
                </tr>
        {% endfor %}
    {% else %}
                <tr>
                    <td class="user">
                        <a href="{{ path('_admin_template_add') }}">
                        {{'LIST.TEMPLATES.NOITEMS'|trans|upper}}
                        </a>    
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="narrow-col">
                        <a href="{{ path('_admin_template_add') }}">
                            <span class="glyphicon glyphicon-file"></span>
                        </a>    
                    </td>
                    <td></td>
                    <td></td>
                </tr>
    {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}