{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}
{% trans_default_domain "admin" %}

{% block menu %}
    <li>
        <a href="{{ path('_admin_user_list') }}">{% trans %}MENU.ADMIN.USERS{% endtrans %}</a>
    </li>
    <li>
        <a href="{{ path('_admin_schema_list') }}">{% trans %}MENU.ADMIN.SCHEMAS{% endtrans %}</a>
    </li>
{% endblock %}

{% block maincontent %}
<div class="container" role="main">
    <div class="panel panel-primary">
        <div class="panel-heading"><b>{{ 'LIST.RESPONSES.TITLE'|trans|upper }}</b></div>
        <div class="panel-body lead">
            {{ 'LIST.RESPONSES.CAPTION'|trans({'%SCHEMA%': schema.name, '%USER%': user.name}) }}
        </div>
    {% if responses|length > 0 %}
        <table class="table table-striped">
            <tbody>
        {% for pageno,page in responses %}
                <tr>
                    <td colspan="3">
                        Side {{ pageno }}
                    </td>
                </tr>
            {% for response in page %}
                <tr>
                    <td>&nbsp;</td>
                    <td class="user">
                        {{ response.qno }}. {{ response.label|raw }}
                    </td>
                    <td>
{% if response.answer is defined %}                        
    {% if response.value is not null %}
                        {{ response.value }} ({{ response.answer }})
    {% else %}
                        {{ response.answer }}
    {% endif %}
{% else %}
                        {{ response.comment }}
{% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="panel-body">
            <span class="text-uppercase">
                {% trans %}LIST.RESPONSES.NOITEMS{% endtrans %}
            </span>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}