<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title "SelfAuthentication" %}</title>
</head>
<body>
    Invitation er sendt til {{ name }}<br/>
    Ref.: {{ email }}<br/>
    <br/>
    <p>Denne invitation gælder til undersøgelsen {{ schema }}.</p>
    <br/>
    <a href="http://{{ host }}{{ path('_admin') }}" target="_blank">
    Link til admin.</a><br/>
</body>
</html>
